## Table of Contents

* [Project objective](#sec_1)
* [Loading libraries and data](#sec_2)
* [Data cleaning](#sec_3)
* [Derive attributes](#sec_4)
* [Calculate correlation, heatmap and scatter plot](#sec_5)
* [One hot encoding](#sec_6)
* [Linear regression model](#sec_7)
* [Decision tree regression model](#sec_8)
* [Conclusion](#sec_9)

## 1. Project objective <a class="anchor" id="sec_1"></a>

<b>Predict annual salary</b><br>
Explore correlations between annual salary and various customer attributes. Some of the attributes are already available but we will work on deriving more attributes from the dataset.<br> 
We will further calculate and visualise correlation between different attributes in the dataset.<br>
Once we have the dataset ready, we will begin to build a linear regression model followed by decision-based regression tree to predict annual salary of customers in the dataset.<br>
We will conclude the project by comparing the performance of two models.

## 2. Loading libraries and data <a class="anchor" id="sec_2"></a>

### 2.1 Importing required libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
%matplotlib inline
import seaborn as sns
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import sklearn.preprocessing as preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import export_graphviz
from sklearn import tree
import graphviz

### 2.2 Setting display options

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', -1)

### 2.3 Reading the excel file with raw data

In [3]:
df=pd.read_excel("C:\\Users\\Keerthi\\Desktop\\04-Keerthi\\ANZ\\ANZ synthesised transaction dataset.xlsx")

### 2.4 Performing regular checks to gain general insights about the dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12043 entries, 0 to 12042
Data columns (total 23 columns):
status               12043 non-null object
card_present_flag    7717 non-null float64
bpay_biller_code     885 non-null object
account              12043 non-null object
currency             12043 non-null object
long_lat             12043 non-null object
txn_description      12043 non-null object
merchant_id          7717 non-null object
merchant_code        883 non-null float64
first_name           12043 non-null object
balance              12043 non-null float64
date                 12043 non-null datetime64[ns]
gender               12043 non-null object
age                  12043 non-null int64
merchant_suburb      7717 non-null object
merchant_state       7717 non-null object
extraction           12043 non-null object
amount               12043 non-null float64
transaction_id       12043 non-null object
country              12043 non-null object
customer_id          12043 non-null object
merchant_long_lat    7717 non-null object
movement             12043 non-null object
dtypes: datetime64[ns](1), float64(4), int64(1), object(17)
memory usage: 2.1+ MB

In [5]:
df.describe()

       card_present_flag  merchant_code        balance           age        amount
count  7717.000000        883.0          12043.000000   12043.000000  12043.000000
mean   0.802644           0.0            14704.195553   30.582330     187.933588
std    0.398029           0.0            31503.722652   10.046343     592.599934
min    0.000000           0.0            0.240000       18.000000     0.100000
25%    1.000000           0.0            3158.585000    22.000000     16.000000
50%    1.000000           0.0            6432.010000    28.000000     29.000000
75%    1.000000           0.0            12465.945000   38.000000     53.655000
max    1.000000           0.0            267128.520000  78.000000     8835.980000

In [6]:
df.shape

(12043, 23)

In [7]:
df.isnull().sum()

status               0
card_present_flag    4326
bpay_biller_code     11158
account              0
currency             0
long_lat             0
txn_description      0
merchant_id          4326
merchant_code        11160
first_name           0
balance              0
date                 0
gender               0
age                  0
merchant_suburb      4326
merchant_state       4326
extraction           0
amount               0
transaction_id       0
country              0
customer_id          0
merchant_long_lat    4326
movement             0
dtype: int64

## 3. Data cleaning <a class="anchor" id="sec_3"></a>

In [8]:
df[['customer_long','customer_lat']] = df.long_lat.str.split(" ",expand=True,)

In [9]:
df[['merchant_long','merchant_lat']] = df.merchant_long_lat.str.split(" ",expand=True,)

In [10]:
df['customer_lat'] = df['customer_lat'].astype(float)

In [11]:
df['customer_long'] = df['customer_long'].astype(float)

In [12]:
df['extraction'] =  pd.to_datetime(df['extraction'])

In [13]:
df['date'] =  pd.to_datetime(df['date'], format = '%d%m%y')

In [14]:
len(df['date'].unique().tolist())

91

In [15]:
# Drop unnecessary columns 
df = df.drop(['bpay_biller_code', 'long_lat', 'merchant_code', 'merchant_long_lat', 'currency', 'status',
              'card_present_flag', 'movement'], axis=1)

In [16]:
df.columns

Index(['account', 'txn_description', 'merchant_id', 'first_name', 'balance', 'date', 'gender', 'age', 'merchant_suburb', 'merchant_state', 'extraction', 'amount', 'transaction_id', 'country', 'customer_id', 'customer_long', 'customer_lat', 'merchant_long', 'merchant_lat'], dtype='object')

In [17]:
len(df.columns)

19

In [18]:
# detect incorrect latitude
remove_cust = set()
for i, j in df.iterrows():
    if (-90 >j['customer_lat'] <90):
        remove_cust.add(j['customer_id'])

In [19]:
remove_cust

{'CUS-1617121891'}

In [20]:
df = df[~df['customer_id'].isin(remove_cust)]

In [21]:
df.head()

          account txn_description                           merchant_id first_name  balance       date gender  age merchant_suburb merchant_state                extraction  amount                    transaction_id    country     customer_id  customer_long  customer_lat merchant_long merchant_lat
0  ACC-1598451071  POS             81c48296-73be-44a7-befa-d053f48ce7cd  Diana      35.39   2018-08-01  F      26   Ashmore         QLD           2018-08-01 01:01:15+00:00  16.25   a623070bfead4541a6b0fff8a09e706c  Australia  CUS-2487424745  153.41        -27.95         153.38        -27.99
1  ACC-1598451071  SALES-POS       830a451c-316e-4a6a-bf25-e37caedca49e  Diana      21.20   2018-08-01  F      26   Sydney          NSW           2018-08-01 01:13:45+00:00  14.19   13270a2a902145da9db4c951e04b51b9  Australia  CUS-2487424745  153.41        -27.95         151.21        -33.87
2  ACC-1222300524  POS             835c231d-8cdf-4e96-859d-e9d571760cf0  Michael    5.71    2018-08-01  M      38   Sydney          NSW           2018-08-01 01:26:15+00:00  6.42    feb79e7ecd7048a5a36ec889d1a94270  Australia  CUS-2142601169  151.23        -33.94         151.21        -33.87
3  ACC-1037050564  SALES-POS       48514682-c78a-4a88-b0da-2d6302e64673  Rhonda     2117.22 2018-08-01  F      40   Buderim         QLD           2018-08-01 01:38:45+00:00  40.90   2698170da3704fd981b15e64a006079e  Australia  CUS-1614226872  153.10        -27.66         153.05        -26.68
4  ACC-1598451071  SALES-POS       b4e02c10-0852-4273-b8fd-7b3395e32eb0  Diana      17.95   2018-08-01  F      26   Mermaid Beach   QLD           2018-08-01 01:51:15+00:00  3.25    329adf79878c4cf0aeb4188b4691c266  Australia  CUS-2487424745  153.41        -27.95         153.44        -28.06

## 4. Derive attributes <a class="anchor" id="sec_4"></a>

### 4.1 Calculate annual salary

In [22]:
df_salary = df.loc[df['txn_description'].isin(['PAY/SALARY'])]

In [23]:
len(df_salary.customer_id.unique())

99

In [24]:
df_salary.shape

(876, 19)

In [25]:
df_salary.head()

           account txn_description merchant_id first_name  balance       date gender  age merchant_suburb merchant_state                extraction   amount                    transaction_id    country     customer_id  customer_long  customer_lat merchant_long merchant_lat
50  ACC-588564840   PAY/SALARY      NaN         Isaiah     8342.11 2018-08-01  M      23   NaN             NaN           2018-08-01 11:00:00+00:00  3903.95  9ca281650e5d482d9e53f85e959baa66  Australia  CUS-1462656821  151.27        -33.76         NaN           NaN
61  ACC-1650504218  PAY/SALARY      NaN         Marissa    2040.58 2018-08-01  F      23   NaN             NaN           2018-08-01 12:00:00+00:00  1626.48  1822eb0e1bbe4c9e95ebbb0fa2cc4323  Australia  CUS-2500783281  145.01        -37.93         NaN           NaN
64  ACC-3326339947  PAY/SALARY      NaN         Eric       3158.51 2018-08-01  M      22   NaN             NaN           2018-08-01 12:00:00+00:00  983.36   bd62b1799a454cedbbb56364f7c40cbf  Australia  CUS-326006476   151.18        -33.80         NaN           NaN
68  ACC-3541460373  PAY/SALARY      NaN         Jeffrey    2517.66 2018-08-01  M      24   NaN             NaN           2018-08-01 13:00:00+00:00  1408.08  0d95c7c932bb48e5b44c2637bdd3efe9  Australia  CUS-1433879684  145.00        -37.83         NaN           NaN
70  ACC-2776252858  PAY/SALARY      NaN         Kristin    2271.79 2018-08-01  F      43   NaN             NaN           2018-08-01 13:00:00+00:00  1068.04  f50ccf1195214d14a0acbfcb5a265193  Australia  CUS-4123612273  144.95        -37.76         NaN           NaN

In [26]:
freq = df_salary.groupby(['customer_id','amount']).count()['transaction_id'].to_frame()

In [27]:
freq = freq.reset_index()

In [28]:
freq.columns

Index(['customer_id', 'amount', 'transaction_id'], dtype='object')

In [29]:
freq = freq.rename(columns={'transaction_id':'num_times_paid', 'amount':'salary_amount'})

In [30]:
df_salary.shape

(876, 19)

In [31]:
df_salary = pd.merge(df_salary, freq, on='customer_id',how='left')

In [32]:
df_salary.shape

(876, 21)

In [33]:
# Assumption: - Salary amount is same every pay cycle.

In [34]:
df_salary.groupby(['customer_id','date','amount']).count()['transaction_id'].head(30)

customer_id     date        amount
CUS-1005756958  2018-08-07  970.47     1
                2018-08-14  970.47     1
                2018-08-21  970.47     1
                2018-08-28  970.47     1
                2018-09-04  970.47     1
                2018-09-11  970.47     1
                2018-09-18  970.47     1
                2018-09-25  970.47     1
                2018-10-02  970.47     1
                2018-10-09  970.47     1
                2018-10-16  970.47     1
                2018-10-23  970.47     1
                2018-10-30  970.47     1
CUS-1117979751  2018-08-06  3578.65    1
                2018-08-20  3578.65    1
                2018-09-03  3578.65    1
                2018-09-17  3578.65    1
                2018-10-01  3578.65    1
                2018-10-15  3578.65    1
                2018-10-29  3578.65    1
CUS-1140341822  2018-08-10  1916.51    1
                2018-08-24  1916.51    1
                2018-09-07  1916.51    1
                2018-09-21  1916.51    1
                2018-10-05  1916.51    1
                2018-10-19  1916.51    1
CUS-1147642491  2018-08-06  1711.39    1
                2018-08-13  1711.39    1
                2018-08-20  1711.39    1
                2018-08-27  1711.39    1
Name: transaction_id, dtype: int64

In [35]:
# We can see above that our assumption is correct as customers are getting paid the same amount every pay cycle.

In [36]:
def cal_salary(df_sal, df_orig):
    num_days = len(df_orig.date.unique())
    freq = num_days/df_sal['num_times_paid']
    annual = (df_sal['salary_amount']/freq)*364
    return annual

# Annual salary calculation: - We have 91 days in the dataset. 
# The goal is to calculate each customer's daily wage then multiply that by 364 to calculate for the whole year.
# So first we calculated how many times did the customer get paid in these 91 days (num_times_paid).
# To calculate the customer's daily wage we then divided 91 days by the pay_cycle.
# For example: - if the customer got paid 14 times in the 91 days then we can conclude that they are getting
# paid weekly (91/14 = 6.5). So if we divide their pay with the frequency we will get their daily pay.
# We can then multiply the daily pay with 364 to get their annual income.

In [37]:
df_salary['annual_salary'] = cal_salary(df_salary, df)

In [38]:
df_salary.head()

          account txn_description merchant_id first_name  balance       date gender  age merchant_suburb merchant_state                extraction   amount                    transaction_id    country     customer_id  customer_long  customer_lat merchant_long merchant_lat  salary_amount  num_times_paid  annual_salary
0  ACC-588564840   PAY/SALARY      NaN         Isaiah     8342.11 2018-08-01  M      23   NaN             NaN           2018-08-01 11:00:00+00:00  3903.95  9ca281650e5d482d9e53f85e959baa66  Australia  CUS-1462656821  151.27        -33.76         NaN           NaN          3903.95        7               109310.60
1  ACC-1650504218  PAY/SALARY      NaN         Marissa    2040.58 2018-08-01  F      23   NaN             NaN           2018-08-01 12:00:00+00:00  1626.48  1822eb0e1bbe4c9e95ebbb0fa2cc4323  Australia  CUS-2500783281  145.01        -37.93         NaN           NaN          1626.48        14              91082.88
2  ACC-3326339947  PAY/SALARY      NaN         Eric       3158.51 2018-08-01  M      22   NaN             NaN           2018-08-01 12:00:00+00:00  983.36   bd62b1799a454cedbbb56364f7c40cbf  Australia  CUS-326006476   151.18        -33.80         NaN           NaN          983.36         14              55068.16
3  ACC-3541460373  PAY/SALARY      NaN         Jeffrey    2517.66 2018-08-01  M      24   NaN             NaN           2018-08-01 13:00:00+00:00  1408.08  0d95c7c932bb48e5b44c2637bdd3efe9  Australia  CUS-1433879684  145.00        -37.83         NaN           NaN          1408.08        7               39426.24
4  ACC-2776252858  PAY/SALARY      NaN         Kristin    2271.79 2018-08-01  F      43   NaN             NaN           2018-08-01 13:00:00+00:00  1068.04  f50ccf1195214d14a0acbfcb5a265193  Australia  CUS-4123612273  144.95        -37.76         NaN           NaN          1068.04        14              59810.24

### 4.2 Calculate average balance

In [39]:
avg_bal = df.groupby(['customer_id']).mean()['balance'].reset_index()

In [40]:
avg_bal['balance'] = round(avg_bal['balance'],2)

In [41]:
avg_bal = avg_bal.rename(columns={'balance':'avg_balance_amt'})

In [42]:
df_salary = pd.merge(df_salary, avg_bal, on='customer_id', how='left')

### 4.4 Calculate average number of transactions

In [43]:
df_merchant = df.loc[df['txn_description'].isin(['Pos','SALES-POS'])]

In [44]:
trans_freq = df_merchant.groupby(['customer_id', 'first_name']).count()['transaction_id'].reset_index()

In [45]:
def no_avg_transaction(row):
    num_days = len(df['date'].unique())
    tfs = row['transaction_id'].count()
    return round(tfs/num_days,2)

In [46]:
avg_tf = df_merchant.groupby('customer_id').apply(no_avg_transaction).reset_index()

In [47]:
avg_tf = avg_tf.rename(columns={0:'no_transaction_avg'})

In [48]:
df_salary = pd.merge(df_salary, avg_tf, on='customer_id', how='left')

### 4.5 Average transaction amount

In [49]:
def avg_transaction_amt(row):
    num_days = len(df['date'].unique())
    tfs = row['amount'].sum()
    return round(tfs/num_days,2)

In [50]:
avg_amt = df_merchant.groupby('customer_id').apply(avg_transaction_amt).reset_index()

In [51]:
avg_amt = avg_amt.rename(columns={0:'avg_transaction_amt'})

In [52]:
df_salary = pd.merge(df_salary, avg_amt, on='customer_id', how='left')

In [53]:
df_salary.head()

          account txn_description merchant_id first_name  balance       date gender  age merchant_suburb merchant_state                extraction   amount                    transaction_id    country     customer_id  customer_long  customer_lat merchant_long merchant_lat  salary_amount  num_times_paid  annual_salary  avg_balance_amt  no_transaction_avg  avg_transaction_amt
0  ACC-588564840   PAY/SALARY      NaN         Isaiah     8342.11 2018-08-01  M      23   NaN             NaN           2018-08-01 11:00:00+00:00  3903.95  9ca281650e5d482d9e53f85e959baa66  Australia  CUS-1462656821  151.27        -33.76         NaN           NaN          3903.95        7               109310.60      13368.37         0.32                15.69
1  ACC-1650504218  PAY/SALARY      NaN         Marissa    2040.58 2018-08-01  F      23   NaN             NaN           2018-08-01 12:00:00+00:00  1626.48  1822eb0e1bbe4c9e95ebbb0fa2cc4323  Australia  CUS-2500783281  145.01        -37.93         NaN           NaN          1626.48        14              91082.88       9740.26          0.02                0.21
2  ACC-3326339947  PAY/SALARY      NaN         Eric       3158.51 2018-08-01  M      22   NaN             NaN           2018-08-01 12:00:00+00:00  983.36   bd62b1799a454cedbbb56364f7c40cbf  Australia  CUS-326006476   151.18        -33.80         NaN           NaN          983.36         14              55068.16       6953.53          0.10                3.91
3  ACC-3541460373  PAY/SALARY      NaN         Jeffrey    2517.66 2018-08-01  M      24   NaN             NaN           2018-08-01 13:00:00+00:00  1408.08  0d95c7c932bb48e5b44c2637bdd3efe9  Australia  CUS-1433879684  145.00        -37.83         NaN           NaN          1408.08        7               39426.24       3213.68          0.63                19.14
4  ACC-2776252858  PAY/SALARY      NaN         Kristin    2271.79 2018-08-01  F      43   NaN             NaN           2018-08-01 13:00:00+00:00  1068.04  f50ccf1195214d14a0acbfcb5a265193  Australia  CUS-4123612273  144.95        -37.76         NaN           NaN          1068.04        14              59810.24       5210.58          0.47                23.35

In [54]:
# Rearrange columns

In [55]:
df_salary = df_salary.reindex(columns=['gender','age', 'balance','salary_amount','num_times_paid',
                                      'no_transaction_avg','avg_transaction_amt','avg_balance_amt',
                                      'state','annual_salary'])

In [56]:
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 876 entries, 0 to 875
Data columns (total 10 columns):
gender                 876 non-null object
age                    876 non-null int64
balance                876 non-null float64
salary_amount          876 non-null float64
num_times_paid         876 non-null int64
no_transaction_avg     864 non-null float64
avg_transaction_amt    864 non-null float64
avg_balance_amt        876 non-null float64
state                  0 non-null float64
annual_salary          876 non-null float64
dtypes: float64(7), int64(2), object(1)
memory usage: 75.3+ KB

In [57]:
df_salary.head()

  gender  age  balance  salary_amount  num_times_paid  no_transaction_avg  avg_transaction_amt  avg_balance_amt  state  annual_salary
0  M      23   8342.11  3903.95        7               0.32                15.69                13368.37        NaN     109310.60
1  F      23   2040.58  1626.48        14              0.02                0.21                 9740.26         NaN     91082.88
2  M      22   3158.51  983.36         14              0.10                3.91                 6953.53         NaN     55068.16
3  M      24   2517.66  1408.08        7               0.63                19.14                3213.68         NaN     39426.24
4  F      43   2271.79  1068.04        14              0.47                23.35                5210.58         NaN     59810.24

In [58]:
df_salary.isnull().sum()

gender                 0
age                    0
balance                0
salary_amount          0
num_times_paid         0
no_transaction_avg     12
avg_transaction_amt    12
avg_balance_amt        0
state                  876
annual_salary          0
dtype: int64

In [59]:
df_salary['no_transaction_avg'] = df_salary['no_transaction_avg'].fillna(0)

In [60]:
df_salary['avg_transaction_amt'] = df_salary['avg_transaction_amt'].fillna(0)

In [61]:
df_salary['state'].value_counts()

Series([], Name: state, dtype: int64)

## 5. Calculate correlation, heatmap and scatter plot <a class="anchor" id="sec_5"></a>

### 5.1 Get correlation between the variables

In [62]:
df_salary_corr = df_salary.corr()

In [63]:
df_salary_corr

                          age   balance  salary_amount  num_times_paid  no_transaction_avg  avg_transaction_amt  avg_balance_amt  state  annual_salary
age                  1.000000  0.193853 -0.131186       0.140608       -0.176540           -0.163639             0.199246        NaN    -0.073376
balance              0.193853  1.000000  0.291906      -0.244229       -0.180791           -0.165618             0.993057        NaN     0.181860
salary_amount       -0.131186  0.291906  1.000000      -0.694410       -0.119124            0.029581             0.273713        NaN     0.634719
num_times_paid       0.140608 -0.244229 -0.694410       1.000000        0.154651            0.050271            -0.233591        NaN    -0.021236
no_transaction_avg  -0.176540 -0.180791 -0.119124       0.154651        1.000000            0.675148            -0.179006        NaN    -0.086342
avg_transaction_amt -0.163639 -0.165618  0.029581       0.050271        0.675148            1.000000            -0.166320        NaN     0.114918
avg_balance_amt      0.199246  0.993057  0.273713      -0.233591       -0.179006           -0.166320             1.000000        NaN     0.172471
state               NaN       NaN       NaN            NaN             NaN                 NaN                  NaN              NaN    NaN
annual_salary       -0.073376  0.181860  0.634719      -0.021236       -0.086342            0.114918             0.172471        NaN     1.000000

## 6. One Hot Encoding <a class="anchor" id="sec_6"></a>

Categorical data is defined as variables with a finite set of label values. Most machine learning algorithms require numerical input and output variables. One hot encoding is used to convert categorical data to integer data.

In [64]:
# One hot encoding
# Copy the original data
df_salary_ohe = df_salary.copy()

In [65]:
df_salary_ohe = pd.get_dummies(df_salary_ohe, columns=['gender', 'state'])

In [66]:
df_salary_ohe.head()

   age  balance  salary_amount  num_times_paid  no_transaction_avg  avg_transaction_amt  avg_balance_amt  annual_salary  gender_F  gender_M
0  23   8342.11  3903.95        7               0.32                15.69                13368.37         109310.60      0         1
1  23   2040.58  1626.48        14              0.02                0.21                 9740.26          91082.88       1         0
2  22   3158.51  983.36         14              0.10                3.91                 6953.53          55068.16       0         1
3  24   2517.66  1408.08        7               0.63                19.14                3213.68          39426.24       0         1
4  43   2271.79  1068.04        14              0.47                23.35                5210.58          59810.24       1         0

## 7. Linear regression model <a class="anchor" id="sec_7"></a>

In [67]:
# Set up the dependent and the independent variables
X = pd.DataFrame(df_salary_ohe.loc[:,df_salary_ohe.columns != 'annual_salary'])
y = pd.DataFrame(df_salary_ohe.loc[:,['annual_salary']])

In [68]:
X.head()

   age  balance  salary_amount  num_times_paid  no_transaction_avg  avg_transaction_amt  avg_balance_amt  gender_F  gender_M
0  23   8342.11  3903.95        7               0.32                15.69                13368.37         0         1
1  23   2040.58  1626.48        14              0.02                0.21                 9740.26          1         0
2  22   3158.51  983.36         14              0.10                3.91                 6953.53          0         1
3  24   2517.66  1408.08        7               0.63                19.14                3213.68          0         1
4  43   2271.79  1068.04        14              0.47                23.35                5210.58          1         0

In [69]:
y.head()

   annual_salary
0  109310.60
1  91082.88
2  55068.16
3  39426.24
4  59810.24

In [70]:
# Divide the data into train and test sets; 80% train and 20% test

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=5)

In [72]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(700, 9)
(176, 9)
(700, 1)
(176, 1)

In [73]:
scaler = preprocessing.StandardScaler()

In [74]:
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
X_test = scaler.transform(X_test)

In [75]:
# Train the algorithm

In [76]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [77]:
# Having a look at the coefficients that the model has chosen

In [78]:
v = pd.DataFrame(regressor.coef_, index=["Co-efficient"]).transpose()
w = pd.DataFrame(X.columns, columns=['Attribute'])

In [79]:
df_coeff = pd.concat([w,v], join='inner', axis=1)

In [80]:
df_coeff

             Attribute  Co-efficient
0  age                 -1.555067e+03
1  balance             -9.950566e+03
2  salary_amount        3.077074e+04
3  num_times_paid       2.190922e+04
4  no_transaction_avg  -4.780817e+03
5  avg_transaction_amt  4.044235e+03
6  avg_balance_amt      1.093399e+04
7  gender_F             3.437638e+17
8  gender_M             3.437638e+17

In [81]:
# Comparing the predicted value to the actual value

In [82]:
y_pred = regressor.predict(X_test)
y_pred = pd.DataFrame(y_pred, columns=['Predicted'])

In [83]:
result = pd.concat([y_test.reset_index(drop=1),y_pred.reset_index(drop=1)], axis=1).reset_index(drop=True)

In [84]:
result

     annual_salary     Predicted
0    100202.20      101360.36176
1    72041.48       63024.36176
2    68513.76       70448.36176
3    74126.64       67824.36176
4    79524.20       65072.36176
5    64856.40       69296.36176
6    106001.84      92144.36176
7    58414.72       64688.36176
8    98493.08       96304.36176
9    102070.20      119024.36176
10   50464.44       55920.36176
11   48431.20       57200.36176
12   44873.40       57072.36176
13   78147.44       82352.36176
14   88992.28       79920.36176
15   44194.08       50928.36176
16   101221.64      80304.36176
17   97809.40       86448.36176
18   42187.44       35568.36176
19   48431.20       58928.36176
20   115702.44      109040.36176
21   76680.24       78768.36176
22   106001.84      94192.36176
23   39589.16       51184.36176
24   85991.92       81584.36176
25   55068.16       68976.36176
26   98493.08       95152.36176
27   48857.84       126000.36176
28   81130.40       78448.36176
29   78147.44       79920.36176
30   91082.88       84336.36176
31   63717.16       65328.36176
32   58414.72       64368.36176
33   65244.24       64880.36176
34   52110.76       56496.36176
35   55111.68       56944.36176
36   111368.88      101232.36176
37   58414.72       63472.36176
38   45996.24       48368.36176
39   123348.40      117616.36176
40   59217.08       63664.36176
41   49218.96       48240.36176
42   52319.04       53808.36176
43   123348.40      119856.36176
44   44235.36       40112.36176
45   69276.48       66608.36176
46   50436.24       40624.36176
47   29952.00       42672.36176
48   109310.60      100656.36176
49   55068.16       68208.36176
50   34815.36       43824.36176
51   50464.44       54832.36176
52   50464.44       55088.36176
53   68513.76       69232.36176
54   111368.88      100848.36176
55   34550.36       48880.36176
56   79524.20       65776.36176
57   50436.24       41520.36176
58   90475.28       85168.36176
59   59810.24       67184.36176
60   48195.92       124912.36176
61   73913.28       66544.36176
62   100202.20      99504.36176
63   87588.24       89136.36176
64   55111.68       56688.36176
65   59290.80       53552.36176
66   132327.52      118128.36176
67   91082.88       80432.36176
68   111368.88      99888.36176
69   88246.56       86384.36176
70   71083.04       69424.36176
71   66168.44       63024.36176
72   132327.52      119344.36176
73   61538.96       70896.36176
74   51100.92       58608.36176
75   59290.80       54192.36176
76   44873.40       56112.36176
77   64856.40       70384.36176
78   47707.40       53168.36176
79   65244.24       65456.36176
80   73913.28       68592.36176
81   55111.68       57008.36176
82   39589.16       50928.36176
83   102070.20      122224.36176
84   56765.52       51248.36176
85   38908.96       91056.36176
86   36986.88       34032.36176
87   50436.24       41968.36176
88   56663.04       46000.36176
89   47707.40       53232.36176
90   81130.40       78192.36176
91   36904.32       29616.36176
92   56663.04       47408.36176
93   50464.44       55792.36176
94   55687.20       55536.36176
95   64508.40       63600.36176
96   29952.00       42416.36176
97   39589.16       51760.36176
98   56765.52       51376.36176
99   59810.24       68528.36176
100  51508.60       59184.36176
101  132327.52      119088.36176
102  85109.44       80240.36176
103  72603.96       71344.36176
104  88992.28       79408.36176
105  109304.44      95344.36176
106  74126.64       69296.36176
107  58414.72       63856.36176
108  98493.08       95536.36176
109  123348.40      114544.36176
110  100202.20      103472.36176
111  100202.20      100400.36176
112  52110.76       56368.36176
113  97809.40       88752.36176
114  111368.88      102128.36176
115  55687.20       56816.36176
116  109304.44      94448.36176
117  44004.00       51312.36176
118  64856.40       69488.36176
119  64508.40       62128.36176
120  61538.96       71216.36176
121  59217.08       62960.36176
122  29952.00       41584.36176
123  109310.60      103472.36176
124  53927.64       58544.36176
125  66168.44       62448.36176
126  58414.72       62960.36176
127  101221.64      80816.36176
128  69590.36       59760.36176
129  40235.44       28464.36176
130  55408.08       50608.36176
131  81130.40       76464.36176
132  51508.60       60272.36176
133  47707.40       52912.36176
134  44004.00       51376.36176
135  46854.96       43568.36176
136  44235.36       40496.36176
137  55687.20       56368.36176
138  118578.72      92016.36176
139  44004.00       52080.36176
140  85109.44       79856.36176
141  55068.16       67376.36176
142  40357.92       34544.36176
143  134576.52      103152.36176
144  46854.96       43056.36176
145  50464.44       53552.36176
146  57184.40       63664.36176
147  85109.44       76848.36176
148  101221.64      82800.36176
149  79524.20       64496.36176
150  71083.04       68592.36176
151  64856.40       70000.36176
152  39426.24       33456.36176
153  51100.92       60144.36176
154  118049.12      112560.36176
155  118578.72      94192.36176
156  37556.16       43056.36176
157  39589.16       50992.36176
158  44873.40       57392.36176
159  111368.88      98032.36176
160  42187.44       37360.36176
161  118578.72      90864.36176
162  64856.40       70768.36176
163  64856.40       69808.36176
164  101221.64      83312.36176
165  55068.16       69232.36176
166  51508.60       59248.36176
167  71083.04       70320.36176
168  132327.52      120752.36176
169  39426.24       33840.36176
170  81130.40       79408.36176
171  100202.20      101744.36176
172  97314.48       100208.36176
173  34815.36       43440.36176
174  72603.96       72240.36176
175  57184.40       65712.36176

In [85]:
# Evaluate the algorithm by printing the metrics

In [86]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared Error: ', metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test,y_pred)))
print('R -square: ', metrics.r2_score(y_test,y_pred))

Mean Absolute Error:  8482.547647295038
Mean Squared Error:  166610913.54363433
Root Mean Squared Error:  12907.784997575469
R -square:  0.757895855602749

In [87]:
# RMSE of the linear regression model is 13725. It means on average our salary prediction is varying by $13,725.86

## 8. Decision tree regressor model <a class="anchor" id="sec_8"></a>

In [88]:
# Divide the data into train and test sets

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=2)

In [90]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(700, 9)
(176, 9)
(700, 1)
(176, 1)

In [91]:
scaler = preprocessing.StandardScaler()

In [92]:
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
X_test = scaler.transform(X_test)

In [93]:
tree_regressor = DecisionTreeRegressor(criterion="mse", max_depth = 3, random_state=1234)

In [94]:
tree_reg = tree_regressor.fit(X_train, y_train)

In [95]:
y_pred = tree_regressor.predict(X_test)

In [96]:
y_pred = pd.DataFrame(y_pred, columns=['Predicted'])

In [97]:
result_tree = pd.concat([y_test.reset_index(drop=1),y_pred.reset_index(drop=1)], axis=1).reset_index(drop=True)

In [98]:
result_tree

     annual_salary      Predicted
0    85991.92       67952.401176
1    46388.68       45460.944727
2    36986.88       44399.223111
3    98493.08       99998.242857
4    63717.16       65649.718806
5    39589.16       33953.060339
6    39379.92       44399.223111
7    44004.00       45460.944727
8    88992.28       65649.718806
9    101221.64      65649.718806
10   59810.24       65649.718806
11   115702.44      99998.242857
12   58414.72       65649.718806
13   72603.96       65649.718806
14   36904.32       44399.223111
15   64508.40       67952.401176
16   100202.20      99998.242857
17   132327.52      131686.165000
18   46295.28       44399.223111
19   53249.52       44399.223111
20   68513.76       67952.401176
21   100202.20      99998.242857
22   61538.96       65649.718806
23   68513.76       67952.401176
24   85109.44       65649.718806
25   64856.40       65649.718806
26   78147.44       65649.718806
27   123348.40      99998.242857
28   34815.36       33953.060339
29   44550.72       99998.242857
30   64856.40       65649.718806
31   34550.36       33953.060339
32   55408.08       67952.401176
33   64585.64       67952.401176
34   64585.64       67952.401176
35   55111.68       65649.718806
36   34815.36       33953.060339
37   29952.00       33953.060339
38   71083.04       67952.401176
39   53927.64       65649.718806
40   85109.44       65649.718806
41   63906.08       67952.401176
42   91082.88       65649.718806
43   111368.88      99998.242857
44   39128.64       44399.223111
45   36904.32       44399.223111
46   53249.52       44399.223111
47   88246.56       99998.242857
48   72603.96       65649.718806
49   55111.68       65649.718806
50   88992.28       65649.718806
51   34550.36       33953.060339
52   64856.40       65649.718806
53   106001.84      99998.242857
54   47707.40       45460.944727
55   97809.40       65649.718806
56   90475.28       99998.242857
57   34550.36       33953.060339
58   55068.16       65649.718806
59   98493.08       99998.242857
60   56765.52       65649.718806
61   91082.88       65649.718806
62   39426.24       44399.223111
63   91082.88       65649.718806
64   97809.40       65649.718806
65   85109.44       65649.718806
66   64856.40       65649.718806
67   102070.20      99998.242857
68   97314.48       99998.242857
69   71083.04       67952.401176
70   74126.64       67952.401176
71   101221.64      65649.718806
72   55687.20       67952.401176
73   40357.92       44399.223111
74   39589.16       33953.060339
75   69296.16       67952.401176
76   53927.64       65649.718806
77   69590.36       67952.401176
78   52319.04       44399.223111
79   36904.32       44399.223111
80   118578.72      118578.720000
81   132327.52      131686.165000
82   97314.48       99998.242857
83   53249.52       44399.223111
84   127048.48      131686.165000
85   44235.36       44399.223111
86   34415.52       44399.223111
87   59217.08       65649.718806
88   58414.72       65649.718806
89   43406.88       44399.223111
90   36904.32       44399.223111
91   59810.24       65649.718806
92   87588.24       99998.242857
93   97809.40       65649.718806
94   81130.40       65649.718806
95   109310.60      99998.242857
96   101221.64      65649.718806
97   74126.64       67952.401176
98   42187.44       44399.223111
99   56765.52       65649.718806
100  36904.32       44399.223111
101  61538.96       65649.718806
102  57184.40       65649.718806
103  64856.40       65649.718806
104  57184.40       65649.718806
105  28623.84       33953.060339
106  81130.40       65649.718806
107  64856.40       65649.718806
108  69296.16       67952.401176
109  39589.16       33953.060339
110  34815.36       33953.060339
111  44873.40       45460.944727
112  63906.08       67952.401176
113  88246.56       99998.242857
114  53249.52       44399.223111
115  63906.08       67952.401176
116  72603.96       65649.718806
117  134576.52      131686.165000
118  52110.76       65649.718806
119  39589.16       33953.060339
120  90475.28       99998.242857
121  36986.88       44399.223111
122  34550.36       33953.060339
123  44873.40       45460.944727
124  100202.20      99998.242857
125  52110.76       65649.718806
126  85991.92       67952.401176
127  55068.16       65649.718806
128  85109.44       65649.718806
129  100202.20      99998.242857
130  61538.96       65649.718806
131  29952.00       33953.060339
132  53927.64       65649.718806
133  51100.92       65649.718806
134  69590.36       67952.401176
135  53927.64       65649.718806
136  44004.00       45460.944727
137  59810.24       65649.718806
138  58414.72       65649.718806
139  43406.88       44399.223111
140  49218.96       44399.223111
141  52110.76       65649.718806
142  34415.52       44399.223111
143  56663.04       44399.223111
144  49218.96       44399.223111
145  127048.48      131686.165000
146  118578.72      118578.720000
147  48431.20       67952.401176
148  34815.36       33953.060339
149  46388.68       45460.944727
150  73913.28       67952.401176
151  111368.88      99998.242857
152  91082.88       65649.718806
153  118578.72      118578.720000
154  51804.48       65649.718806
155  45996.24       44399.223111
156  72603.96       65649.718806
157  44235.36       44399.223111
158  64856.40       65649.718806
159  123348.40      99998.242857
160  127048.48      131686.165000
161  46388.68       45460.944727
162  37556.16       33953.060339
163  64508.40       67952.401176
164  88246.56       99998.242857
165  127048.48      131686.165000
166  51804.48       65649.718806
167  88992.28       65649.718806
168  101221.64      65649.718806
169  58414.72       65649.718806
170  55068.16       65649.718806
171  102070.20      99998.242857
172  69276.48       67952.401176
173  79524.20       67952.401176
174  91082.88       65649.718806
175  78147.44       65649.718806

In [99]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared Error: ', metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean Absolute Error:  8614.767282773251
Mean Squared Error:  155473875.42961988
Root Mean Squared Error:  12468.916369501396

In [100]:
# RMSE of the decision tree regression model is 12468. It means on average our salary prediction is varying by $12,468.91

### 8.1 Decision tree visualisation

In [101]:
# Extract Column Names as List in Pandas Dataframe
data_feature_names = X.columns.tolist()

In [102]:
text_representation = tree.export_text(tree_regressor)
print(text_representation)

|--- feature_2 <= 0.31
|   |--- feature_2 <= -0.79
|   |   |--- feature_2 <= -0.90
|   |   |   |--- value: [33953.06]
|   |   |--- feature_2 >  -0.90
|   |   |   |--- value: [45460.94]
|   |--- feature_2 >  -0.79
|   |   |--- feature_3 <= -0.11
|   |   |   |--- value: [44399.22]
|   |   |--- feature_3 >  -0.11
|   |   |   |--- value: [65649.72]
|--- feature_2 >  0.31
|   |--- feature_3 <= -0.11
|   |   |--- feature_2 <= 1.13
|   |   |   |--- value: [67952.40]
|   |   |--- feature_2 >  1.13
|   |   |   |--- value: [99998.24]
|   |--- feature_3 >  -0.11
|   |   |--- feature_2 <= 0.41
|   |   |   |--- value: [118578.72]
|   |   |--- feature_2 >  0.41
|   |   |   |--- value: [131686.17]

In [103]:
dot_data = tree.export_graphviz(tree_regressor, out_file=None, 
                                feature_names=data_feature_names,  
                                filled=True)
graphviz.Source(dot_data, format="png")

## 9. Conclusion <a class="anchor" id="sec_9"></a>

After comparing the RMSE of Linear regression model and Decision tree regressor model we can conlcude that decision tree model has performed slightly better than the linear regression model in predicting the annual salary.<br>
We can improve the accuracy of decision tree regressor model by increasing the maximum depth of the model, this will definitely improve the accuracy of the model but we will risk overfitting the model on the data. So, when new data is presented to the model it may not perform as well as it has during training and testing.